<template name="listingSubmit">
	
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="url">Address</label>
			<div class="controls">
				<input name="address" type="text" value="" placeholder="Your Address"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="title">Price</label>
			<div class="controls">
				<input name="price" type="text" value="" placeholder="Name your owner"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="message">Owner</label>
			<div class="controls">
				<textarea name="owner" type="text" value=""></textarea>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>

	</form>
</template>
