#login-experience{
<<<<<<< HEAD
	right: 145%;
}

#exampleDropPane {
  text-align: center;
  padding: 20px;
  background-color: #F6F6F6;
  border: 1px dashed #666;
  border-radius: 6px;
  margin-bottom: 20px;
=======
	right: 125%;
>>>>>>> 9dfcf5532d3db46ef4e07b38baa8ee5d01649ecf
}